.wrapper {
	min-height: inherit;

	display: flex;
	flex-direction: row;
}

.wrapper__form {
	margin: 0 5rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.wrapper__background {
	background-color: currentColor;
	width: 100%;
}
