#create-user {
	min-height: inherit;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

#create-user > form {
	width: 80%;
	min-width: 20rem;
	max-width: 25rem;
}
