#landing {
	min-width: 30rem;
}

#landing,
#landing > * {
	min-height: inherit;
}

#landing__brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

#landing__brand--block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#landing__brand--buttons {
	display: flex;
	gap: 0.5rem;
}
