#wrapper {
	min-width: 30rem;
}

#wrapper,
#wrapper > * {
	min-height: inherit;
}

#wrapper__brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

#wrapper__brand--block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#wrapper__brand--buttons {
	display: flex;
	gap: 0.5rem;
}
