#chip {
	width: 100%;
}

#chip input[type="checkbox"] {
	display: none;
}

#chip label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 6.5rem;
	border: 2px solid var(--brand-borders);
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.2s ease;
	user-select: none;
}

#chip input[type="checkbox"]:checked + label {
	background-color: var(--brand-primary);
	color: var(--default-inverse);
	border-color: var(--brand-primary);
}
