.form-header {
	font-size: 1.25rem;
	font-weight: 600;
}

.header {
	font-size: 1.25rem;
	font-weight: 600;
}

.group-header {
	font-size: .65rem;
	font-weight: 800;
	opacity: 0.25;
}

.button {
	font-size: .65rem;
}

.text {
	font-size: .65rem;
}

.link {
	font-size: .65rem;
	font-weight: 400;
	opacity: 0.5;
}

.default {
	color: var(--default);
}

.default-inverse {
	color: var(--default-inverse);
}
