.brand {
	font-size: clamp(2.5rem, 2.5rem + 0.5vw, 3.5rem);
	font-weight: 700;
}

.sub-brand {
	font-size: clamp(.8rem, .8rem + 0.5vw, 1rem);
}

.header {
	font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
	font-weight: 600;
	letter-spacing: 0.05rem;
}

.groupText {
	font-size: clamp(.7rem, .7rem + 0.5vw, .7rem);
	font-weight: 600;
	opacity: 0.25;
}

.button {
	font-size: clamp(.75rem, .75rem + 0.5vw, .75rem);
}

.link {
	font-size: clamp(.7rem, .7rem + 0.5vw, .7rem);
	font-weight: 600;
	opacity: 0.25;
}
